.scan-button {
  padding: 6px 12px 18px 12px;
  background-color: #086A35;
  border-radius: 25%;
  margin: 0px;
}

.tab-height { 
  height: 68px;
}

.lbl-scan-button {
  position: absolute;
  bottom: 5px;
  font-size: 10px;
}
